<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-orange w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{{url_for('home')}}" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="{{url_for('jobs')}}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Jobs</a>
    <a href="{{url_for('profile')}}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Profile</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Jobs</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Profile</a>
  </div>
</div>

<h2>Comparison</h2>

<table>
  <tr>
    <th>Company</th>
    <th>Position</th>
    <th>Requirements</th>
    <th>Location</th>
    <th></th>
  </tr>
  <tr>
    <td>Softech</td>
    <td>Front-End Developer</td>
    <td>JavaScript, JQuery, CSS, HTML</td>
    <td>İstanbul</td>
    <td><button onclick="document.getElementById('id01').style.display='block'">Apply</button></td>
  </tr>
  <tr>
    <td>İş Bankası</td>
    <td>Back-End Developer</td>
    <td>Python, MongoDB, SQL</td>
    <td>İstanbul</td>
    <td><button onclick="document.getElementById('id01').style.display='block'">Apply</button></td>
  </tr>
  <tr>
    <td>Kardeşler Pide & Kebap</td>
    <td>Project Manager</td>
    <td>MS office, JavaScript, HTML, MS project computer applications, Agile Methodologies</td>
    <td>Konya</td>
    <td><button onclick="document.getElementById('id01').style.display='block'">Apply</button></td>
  </tr>
</table>

<!-- The Modal -->
    <div id="id01" class="w3-modal">
        <div class="w3-modal-content">
            <div class="w3-container">
                <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <p>Before applying for this job, you have to take a test.</p>
                <p>Are you ready?</p>
                <div style="text-align: center;"><button><a href="{{url_for('taketest')}}" style="text-decoration: none;"><b>Take the test</b></a></button></div>
                <br>
            </div>
        </div>
    </div>
</body>
</html>
